/* :root {
    --primary-color: #a8895f;
    --primary-color-layer: #caa977;
    --primary-light-color: #a7895c;
    --call-to-action-color: #657f4e;
    --background-color: #0a111d;
    --text-color: #fff;
    --light-grey-color: #cbcbcb;
  }
   */
.profile-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
}
.arrowBack {
  color: var(--primary-light-color);
  font-size: 50px;
}

.profile--avatar {
  width: 228px;
  height: 228px;
  background-color: var(--primary-light-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  /* align-items: center; */
}

.light--one {
  width: 202px;
  height: 202px;
  background-color: var(--primary-color-layer);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.light--two {
  width: 164px;
  height: 164px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.avatarProfile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
  border-radius: 50%;
}

.user-profile-name {
  color: var(--text-color);
  font-size: 32px;
}
.user-header {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.profiles-call-to-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}
.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.type-hairstyle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.text-for-user-details {
  color: var(--primary-light-color);
}

.symbol {
  color: var(--primary-light-color);
}
.user-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.button {
  position: absolute;
  width: 100px;
  height: 50px;
  color: var(--text-color);
  background-color: var(--primary-light-color);
  border-radius: 10px;
  border: none;
  bottom: 1.9rem;
  right: 28rem;
  box-shadow: 1px 1px 30px var(--background-color);
}

.user-images {
  width: 60%;
  height: 20%;
  background-color: var(--light-grey-color);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "one two" "one three";
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
}
.item-1 {
  grid-area: one;
}
.item-2 {
  grid-area: two;
}
.item-3 {
  grid-area: three;
}

.item-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemImages {
  width: 100%;
  height: 100%;
}
.calendar-and-bookNow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.calendar-and-bookNow-container h3 {
  color: var(--text-color);
}

.calendarBook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.bookNow-container {
  width: 50%;
  height: 350px;
  background-color: var(--primary-light-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header-and-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.price-heading {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}
.price-heading p {
  background-color: transparent;
}
.price {
  font-size: 24px;
  color: var(--text-color);
  font-weight: 600;
  background-color: transparent;
}
.price span {
  background-color: transparent;
  font-weight: 200;
}
.ratings {
  background-color: transparent;
}

.ratings p {
  color: var(--text-color);
  background-color: transparent;
}
.icon-rating {
  background-color: transparent;
}

.icon-rating .icon {
  width: 12px;
  height: 12px;
}

.appointment__info {
  width: 70%;
  height: 180px;
  background-color: var(--text-color);
  border-radius: 10px;
  position: relative;
}

.startDate {
  background-color: transparent;
  border-right: 1px solid var(--light-grey-color);
  padding: 10px;
}
.startHours {
  background-color: transparent;
  padding: 10px;
}
.smallText {
  font-size: 12px;
  background-color: transparent;
  color: var(--light-grey-color);
}
.smallText p {
  background-color: transparent;
}
.dateAndHour {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: transparent;
  border-bottom: 1px solid var(--light-grey-color);
  padding: 10px;
}
.bigText {
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
}

.clients {
  background-color: transparent;
}

.client__title {
  background-color: transparent;
}
.client__info {
  background-color: transparent;
}
.upAndDown {
  background-color: transparent;
}
.icon-up {
  background-color: transparent;
  font-size: 18px;
}

.client-details {
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* margin-top: 20px; */
  border-bottom: 1px solid var(--light-grey-color);
}
@media only screen and (max-width: 600px) {
  .arrowBack {
    color: var(--primary-light-color);
    font-size: 30px;
  }
  .profile--avatar {
    width: 128px;
    height: 128px;
  }
  .light--one {
    width: 102px;
    height: 102px;
  }
  .light--two {
    width: 64px;
    height: 64px;
  }
  .user-profile-name {
    font-size: 22px;
  }
  .profile-info {
    gap: 20px;
  }
  .textProfile {
    font-size: 12px;
  }
  .button {
    position: absolute;
    width: 80px;
    height: 30px;
    right: 5rem;
    font-size: 10px;
  }

  .calendar-and-bookNow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .calendarBook {
    width: 100%;
    height: 100%;
  }
  .bookNow-container {
    width: 100%;
    height: 350px;
    background-color: var(--primary-light-color);
    border-radius: 10px;
  }
  .header-and-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .user-images {
    width: 80%;
  }
}
