/* :root {
    --primary-color: #a8895f;
    --primary-light-color: #a7895c;
    --call-to-action-color: #657f4e;
    --background-color: #0a111d;
    --text-color: #fff;
    --light-grey-color: #cbcbcb;
  }
   */

body {
  color: var(--text-color);
}
.confirmation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 40px;
}
.icon__back {
  color: var(--primary-color);
  font-size: 40px;
}

.book__header {
  color: var(--primary-color);
}

.user__container {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* .headers__content__container {
  width: 100%;
  display: flex;
  justify-content: center;
} */

.headers__content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-right: 400px;
}
.confirm__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.confirm__avatar__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user__name {
  font-size: 20px;
  font-weight: 600;
}

.user__location {
  font-size: 12px;
  color: var(--light-grey-color);
}

.stylist__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.stylist__text {
  color: var(--primary-color);
  font-size: 20px;
}
.confirm__booking {
  width: 50%;
  height: 50%;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  width: 80%;
  height: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}
.dates__hours__edit {
  border-bottom: 1px solid var(--primary-color);
}
.dates__hours {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.boldText {
  font-size: 20px;
  font-weight: 600;
}
.client__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit {
  color: var(--primary-color);
}

.date__text_layout .date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.smallText {
  font-size: 12px;
  color: var(--background-color);
}
