.addCount__container {
  width: 16%;
  height: 20%;
  background-color: var(--text-color);
  border-radius: 10px;
  position: absolute;
  bottom: 0px;
  top: 1390px;
  right: 308px;
}
.adultAndKids {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
}
.structure {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adultCounts {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
.icons__style {
  background-color: transparent;
  color: var(--light-grey-color);
  font-size: 20px;
}

.adults__text {
  background-color: transparent;
}
.adults__text p {
  background-color: transparent;
}

.increase__number {
  background-color: transparent;
}
.descInfo {
  background-color: transparent;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .addCount__container {
    width: 58%;
    height: 20%;
    background-color: var(--text-color);
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    top: 1260px;
    right: 96px;
  }
  .adultAndKids {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }
  .structure {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .adultCounts {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
  }
  .icons__style {
    background-color: transparent;
    color: var(--light-grey-color);
    font-size: 20px;
  }

  .adults__text {
    background-color: transparent;
  }
  .adults__text p {
    background-color: transparent;
  }

  .increase__number {
    background-color: transparent;
  }
  .descInfo {
    background-color: transparent;
    font-size: 12px;
  }
}
