/* :root {
    --primary-color: #a8895f;
    --primary-light-color: #a7895c;
    --call-to-action-color: #657f4e;
    --background-color: #0a111d;
    --text-color: #fff;
    --light-grey-color: #cbcbcb;
  }
   */

.landing-page-container {
  background-color: var(--background-color);
  width: 100%;
  height: 100vh;
}
.landing-page-content {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.landing-page-content::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(10, 18, 31, 0.7), rgba(10, 18, 31, 0.7));

  z-index: 1;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: var(--text-color);
  background-color: transparent;
  z-index: 3;
}

.arrow-right {
  right: 1.5rem;
}
.arrow-left {
  left: 1.5rem;
}
.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
  background-color: transparent;
  z-index: 3;
}
.indicator {
  background-color: var(--text-color);
  width: 2rem;
  height: 0.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 0.2rem;
}
.indicator-disabled {
  background-color: var(--light-grey-color);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 0.2rem;
}

.header-container {
  position: absolute;
  background-color: transparent;
  z-index: 100;
}

.header-container h1 {
  color: var(--primary-color);
  background-color: transparent;
  font-size: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.header-container p {
  color: var(--text-color);
  background-color: transparent;
  font-size: 48px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

.userCards-landingPage-container {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  align-items: center;
  gap: 40px 10px;
  padding: 10px;
}
.continue {
  color: var(--text-color);
}
.otherSections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.additional-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .userCards-landingPage-container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    place-items: center;
    align-items: center;
    gap: 30px 5px;
    padding: 10px;
  }
  .landing-page-content {
    position: relative;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }

  .header-container h1 {
    color: var(--primary-color);
    background-color: transparent;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
  }
  .header-container p {
    color: var(--text-color);
    background-color: transparent;
    font-size: 15px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 100;
  }
  .arrow {
    width: 1.5rem;
    height: 1.5rem;
  }
  .additional-info {
    margin-top: 100px;
  }
}
