* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter;
}
:root {
  --primary-color: #a8895f;
  --primary-color-layer: #caa977;
  --primary-light-color: #a7895c;
  --call-to-action-color: #657f4e;
  --background-color: #0a111d;
  --text-color: #fff;
  --light-grey-color: #cbcbcb;
}
