/* :root {
    --primary-color: #a8895f;
    --primary-light-color: #a7895c;
    --call-to-action-color: #657f4e;
    --background-color: #0a111d;
    --text-color: #fff;
    --light-grey-color: #cbcbcb;
  }
   */

.table-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.calendar-day {
  width: 125px;
  height: 75px;
  position: relative;
  border: 1px solid var(--background-color);
  background-color: var(--text-color);
}

.calendar-day:hover {
  background-color: var(--light-grey-color);
}

.calendar-day p {
  position: absolute;
  right: 10px;
  color: var(--light-grey-color);
  background-color: transparent;
}

.current p {
  color: var(--background-color);
}
.selected {
  background-color: var(--call-to-action-color);
}
.selected p {
  color: var(--text-color);
  font-weight: bold;
  /* background-color: var(--call-to-action-color); */
}

@media only screen and (max-width: 600px) {
  .calendar-day {
    width: 55px;
    height: 50px;
    position: relative;
    border: 1px solid var(--background-color);
    background-color: var(--light-grey-color);
  }
  .current {
    background-color: var(--text-color);
  }
  .selected p {
    color: var(--call-to-action-color);
    font-weight: bold;
  }
}
