/* :root {
    --primary-color: #a8895f;
    --primary-light-color: #a7895c;
    --call-to-action-color: #657f4e;
    --background-color: #0a111d;
    --text-color: #fff;
    --light-grey-color: #cbcbcb;
  }
   */

.table-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}

.calendar-day {
  width: 125px;
  height: 75px;
  position: relative;
  border: 1px solid var(--background-color);
  background-color: #ffffff;
}

.calendar-day:hover {
  background-color: rgb(207, 207, 207);
}

.calendar-day p {
  position: absolute;
  right: 10px;
  color: #ffffff;
  background-color: transparent;
}

.current p {
  color: #3c3a3a;
}

.selected p {
  color: var(--call-to-action-color);
  font-weight: bold;
}
